.SpinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}
.Spinner {
    border: 4px solid whitesmoke;
    border-top-color:#703b09;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
